/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

@layer utilities {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display", serif;
    }

    /* adding the parallax effect on scroll using animation */

    /* can rotation */
    .landing__can {
        animation-timeline: scroll();
    }

    /* downward motion of images */
    .landing__imgs {
        animation-timeline: scroll();
    }

    /* each landing page images are given different speeds at different breakpoints */
    .landing__img1 {
        --img-pos: clamp(75rem, 259.821rem + -205.357vw, 218.75rem);
        --tran-x: -300%;
        --rot-ang: -30deg;
    }

    .landing__img3 {
        --img-pos: clamp(75rem, 259.821rem + -205.357vw, 218.75rem);
        --tran-x: 200%;
        --rot-ang: 30deg;

    }

    .landing__img2 {
        --img-pos: clamp(93.75rem, 294.643rem + -223.214vw, 250rem);
        --tran-x: 0;
        --rot-ang: 0deg;

    }

}

@theme {
    /* colors */
    --color-bg: #e0f2f1;
    --color-text: whitesmoke;

    /* imgae url */
    --can-img: url("../img/can.png");

    /* positioning the can stickers */
    --can-label-pos1: 0 0, 0 0;

    /* sticker position for rotation during scroll */
    --can-label-pos5: 520px 0, 0 0;

    /* animations */
    --animate-parallax: parallax linear;
    --animate-imgs: imgs linear;

    /* font and clamps */
    --font-body: "Rubik", sans-serif;
    --landing-img: clamp(12.5rem, 7.143rem + 26.786vw, 31.25rem);
    --top-pos: clamp(16.75rem, 30.571rem + -15.357vw, 27.5rem);

    /* keyframes */
    @keyframes parallax {
        to {
            background-position: var(--can-label-pos5);
        }
    }

    @keyframes imgs {

        to {
            top: var(--img-pos);
            transform: rotate(var(--rot-ang)) translateX(var(--tran-x));
        }
    }
}